// color
$primary: #1b191b;
$secondary: #252425;
$tertiary: #2f2e2f;
$warning: #ff6913;
$default: #ffffff;
$dark: #0f0e0f;
$semi: #afabac;
$gradient-warning: linear-gradient(to top right, #1b191b 5%, #ff6913);
$gradient-dark: linear-gradient(to top right, #0f172a, rgba(15, 23, 42, 0.4), #0f172a);
$gradient-trans: linear-gradient(to bottom, rgba(248, 250, 252, 0) 35%, rgba(248, 250, 252, 0.9) 100%);
