@use '../global/layout' as layout;
@use '../global/color' as color;
@use '../components/abstract' as abstract;

.nav-open {
  transform: translateX(0) !important;
  transition: transform abstract.$transition;
}

.sticky-navbar {
  background: color.$primary;
  box-shadow: 0 0 1px rgba($color: color.$default, $alpha: 0.3);
}
